html, body {
    margin: 0;
    padding: 0;
}

.image {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.image1 {
    background-image: url("https://res.cloudinary.com/jnto/image/upload/w_750,h_503,fl_lossy,f_auto/v1531981666/fujiguide/SG010_6");
}

.image2 {
    background-image: url("https://jooinn.com/images/lake-101.jpg");
}

.text {
    color: white;
    font-size: 30px;
}

.black {
    height: 50vh;
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
}