body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    background: #eee;
}

.card {
    width: 300px;
    text-align: center;
    background: white;
}

.card h2 {
    margin: 0;
    padding: 15px;
}

table {
    width: 100%;
}

td {
    border: none;
}

td > img {
    width: 200px;
    height: 200px;
}

p {
    color: gray;
}

.social img {
    width: 25px;
    height: 25px;
    margin: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
}